<% provide :title, t(".title") %>
<div class="kode-content padding-tb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="comment-form">
          <div class="row">
            <%= form_for @user, url: signup_path do |f|%>
              <div class="col-md-12 col-sm-12">
                <div class="input-container">
                  <%= f.text_field :name %>
                  <%= f.label :name %>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="input-container">
                  <%= f.text_field :email %>
                  <%= f.label :email %>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="input-container">
                  <%= f.password_field :password %>
                  <%= f.label :password %>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="input-container">
                  <%= f.label :password_confirmation, t(".confirmation") %>
                  <%= f.password_field :password_confirmation %>
                </div>
              </div>
              <div class="col-md-12">
                <p class="kd-button kf_submit widget-newslatter pull-right">
                  <%= f.submit t(".create_my_account"), class: "thbg-color" %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
