<%= form_for [:admin, @category] do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label t("admin.categories.name"), class: "control-label mb-10" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label t("admin.categories.description"), class: "control-label mb-10" %>
        <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit t("submit"), class: "btn btn-success btn-icon left-icon mr-10 pull-left" %>
    <%= link_to t("back"), admin_categories_path, class: "btn btn-warning pull-left" %>
    <div class="clearfix"></div>
  </div>
<% end %>
