<div class="container-fluid">
  <div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark"><%= t ".categories" %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
            <p class="text-muted">
              <a class="btn btn-success btn-anim" href="<%= new_admin_category_path %>">
              <span><%= t ".add" %></span>
              </a>
            </p>
            <div class="table-wrap mt-40">
              <div class="table-responsive">
                <table class="table table-hover table-bordered mb-0">
                  <thead>
                    <tr>
                      <th><%= t ".categories" %></th>
                      <th class="text-nowrap"><%= t ".action" %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href=""></a></td>
                      <td class="text-nowrap">
                        <a href="" class="text-inverse pr-10" title="" data-toggle="tooltip" data-original-title="<%= t '.edit' %>">
                          <i class="zmdi zmdi-edit txt-warning"></i>
                        </a>
                        <a href="" class="text-inverse" title="" data-toggle="tooltip" data-original-title="<%= t '.delete' %>">
                          <i class="zmdi zmdi-delete txt-danger"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
