<header class="header-3">
  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="logo-container">
      <div class="row">
        <div class="col-md-3">
          <div class="logo">
            <%= link_to image_tag("logo-2.png"), "#" %>
          </div>
        </div>
        <div class="col-md-9">
          <div class="top-strip">
            <div class="pull-left">
              <p><%= t "application.welcome_library" %></p>
            </div>
          </div>
          <div class="kode-navigation">
            <ul>
              <li><%= link_to t("application.home"), root_path %></li>
              <li>
                <%= link_to t("application.categories"), category_path(@categories.first) %>
                <ul>
                  <%= render @categories %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
